@import "./styles/trix";
@import "./assets/fonts";

.App {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;

  &:active {
    text-decoration: none;
  }
}

